/* #region common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}
/* #endregion common */

/*#region Header*/
.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .studio {
  color: #2e2f42;
}

.header-logo {
  margin-right: 76px;
}

.list-link {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link {
  font-weight: 500;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  position: relative;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel,
.mail-tel {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus,
.mail-tel:hover,
.mail-tel:focus,
.active-page {
  color: #404bbf;
}

.link::after {
  position: absolute;
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  left: 0;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover::after,
.link:focus::after,
.link.active-page::after {
  transform: translateX(0);
}

.contacts-list {
  display: flex;
  gap: 40px;
}
/* #endregion Header */

/*#region Hero Section*/
.main-section {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: block;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* #endregion Hero Section */

/* #region Features Section */
.features-section {
  padding: 120px 0;
}

.features-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.feature-items {
  width: calc((100% - 3 * 24px) / 4);
}

.features-card {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  height: 112px;
}

.features-icon {
  fill: #2e2f42;
}

/* #endregion Features Section */

/* #region Team Section */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-box {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 3 * 24px) / 4);
}

.person-position {
  padding: 32px 0;
}

.person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.position {
  text-align: center;
  margin-bottom: 8px;
}

.socila-list-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-links {
  width: 40px;
  height: 40px;
}

.social-links-img {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram-twitter-facebook-linkedin {
  fill: #f4f4fd;
}

.social-links-img:hover,
.social-links-img:focus {
  background-color: #404bbf;
}

/* #endregion Team Section */

/* #region Portfolio Section */
.portfolio-section {
  padding: 120px 0 120px 0;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-box {
  background-color: #fff;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover,
.portfolio-box:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.proposal-solution {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.proposal {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-on-card {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover .overlay-text {
  transform: translateY(0);
}

/* #endregion Portfolio Section */

/* #region Footer Section */
.footer-section {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-description {
  margin-right: 120px;
}

.footer-studio,
.footer-description {
  color: #f4f4fd;
}

.footer-description {
  width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.socila-media {
  display: block;
  margin-right: 80px;
}

.footer-social-links {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-media {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media:hover,
.footer-media:focus {
  background-color: #31d0aa;
}

.subscribe-titel {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.subsribe-form {
  display: flex;
  gap: 24px;
}

.input-fild {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.input-fild::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.subscribe-svg {
  margin-left: 16px;
  fill: #ffffff;
}

/* #endregion Footer Section */

/* #region Modal-overlay Section */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-overlay {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-overlay:hover,
.close-overlay:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.icon-close-overlay {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-overlay-title {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.call-overlay-form {
  display: flex;
  flex-direction: column;
}

.input-form-wraper {
  margin-bottom: 8px;
}

.input-info-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
}

.input-svg-wraper {
  position: relative;
}

.input-line {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-line:focus-within,
.comment-input:focus-within {
  border-color: #4d5ae5;
}

.input-form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-svg-wraper:focus-within {
  fill: #4d5ae5;
}

.comment-form-wraper {
  margin-bottom: 16px;
}

.comment-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-wraper {
  margin-bottom: 24px;
}

.privacy-policy-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-privacy {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked + .privacy-policy-agreement > .checkbox-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.policy-link {
  color: #4d5ae5;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link:hover,
.policy-link:hover {
  color: #2e2f42;
}
.btn-send {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus {
  background-color: #404bbf;
}

/* #endregion Modal-overlay Section */
