/* #region common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion common */

/*#region Header*/
.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .studio {
  color: #2e2f42;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}

.list-link,
.contacts {
  display: none;
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}

.icon-burger {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .list-link {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .link {
    font-weight: 500;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    position: relative;
    overflow: hidden;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link::after {
    position: absolute;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    left: 0;
    bottom: -1px;
    transform: translateX(-100%);
  }

  .active-page {
    color: #404bbf;
  }

  .link.active-page::after {
    transform: translateX(0);
  }

  .link::after {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link:hover::after,
  .link:focus::after,
  .link.active-page::after {
    transform: translateX(0);
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .mail-tel {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link:hover,
  .link:focus,
  .mail-tel:hover,
  .mail-tel:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
  .mail-tel {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*#region Mobail Header Menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  stroke-width: 1px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobil-list-link {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  gap: 40px;
  padding-bottom: 40px;
}

.active-page {
  color: #404bbf;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
}

.mobile-mail-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-mail-tel:focus {
  color: #404bbf;
}

.mobile-socila-links {
  display: flex;
  justify-content: space-between;
}

.social-links {
  width: 40px;
  height: 40px;
}

.social-links-img {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram-twitter-facebook-linkedin {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*#endregion Mobail Header Menu*/

/* #endregion Header */

/*#region Hero Section*/
.main-section {
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (max-width: 320px) and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-hero@2x.jpg);
  }
}

@media screen and (max-width: 320px) and (min-resolution: 288dpi) {
  .main-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-hero@3x.jpg);
  }
}

.main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  max-width: 216px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: block;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .main-section {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero.jpg);
    max-width: 768px;
  }

  .main-header {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }

  .btn:hover,
  .btn:focus {
    background-color: #404bbf;
  }
}

@media screen and (max-width: 768px) and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero@2x.jpg);
  }
}

@media screen and (max-width: 768px) and (min-resolution: 288dpi) {
  .main-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero@3x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .main-section {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-hero.jpg);
    max-width: 1440px;
  }

  .main-header {
    margin-bottom: 48px;
  }
}

@media (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-hero@2x.jpg);
  }
}

@media (min-width: 1158px) and (min-resolution: 288dpi) {
  .main-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-hero@3x.jpg);
  }
}

/* #endregion Hero Section */

/* #region Features Section */
.features-section {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.features-card {
  display: none;
}

.features-icon {
  fill: #2e2f42;
}

.features-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.features-description {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .feature-items {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-section {
    padding: 120px 0;
  }

  .features-list {
    flex-wrap: nowrap;
  }

  .feature-items {
    width: calc((100% -3 * 24px) / 4);
  }

  .features-card {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    height: 112px;
  }

  .features-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }
}
/* #endregion Features Section */

/* #region Team Section */
.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.team-box {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.person-position {
  padding: 32px 0;
}

.person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.position {
  text-align: center;
  margin-bottom: 8px;
}

.socila-list-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .team-section {
    padding: 96px 0;
  }

  .team-list {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .social-links-img:hover,
  .social-links-img:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }

  .team-list {
    justify-content: flex-start;
    flex-wrap: nowrap;
    column-gap: 24px;
  }

  .team-box {
    width: calc((100% - 3 * 24px) / 4);
  }
}

/* #endregion Team Section */

/* #region Portfolio Section */
.portfolio-section {
  padding: 96px 0;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.portfolio-box {
  background-color: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proposal-solution {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.proposal {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-on-card {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover .overlay-text {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .portfolio-section {
    padding: 96px 0;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-box {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-box:hover,
  .portfolio-box:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .portfolio-img {
    width: 356px;
    height: 300px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-box {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-img {
    width: 360px;
    height: 300px;
  }
}

/* #endregion Portfolio Section */

/* #region Footer Section */
.footer-section {
  padding: 96px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-studio,
.footer-description {
  color: #f4f4fd;
}

.footer-logo-description {
  margin-bottom: 72px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.socila-media {
  display: block;
  margin-bottom: 72px;
}

.footer-social-links {
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-media {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-titel {
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.input-fild {
  width: 288px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
}

.input-fild::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-svg {
  margin-left: 16px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-section {
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 108px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .footer-logo {
    display: inline-block;
  }

  .footer-logo-description {
    margin-right: 24px;
  }

  .socila-media {
    display: block;
  }

  .footer-media:hover,
  .footer-media:focus {
    background-color: #31d0aa;
  }

  .footer-social-links {
    text-align: start;
  }

  .subscribe-titel {
    text-align: start;
  }

  .subscribe-form {
    flex-direction: row;
    align-items: start;
    gap: 24px;
  }

  .input-fild {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-section {
    padding: 100px 0;
  }

  .footer-container {
    flex-wrap: nowrap;
  }

  .footer-logo-description {
    margin-right: 120px;
  }

  .footer-logo-description {
    margin-bottom: 0;
  }

  .socila-media {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .footer-media-list {
    justify-content: start;
  }

  .input-fild::placeholder {
    color: #ffffff;
  }

  .input-fild {
    border: 1px solid #fff;
  }

  .subscribe-btn {
    min-width: 165px;
  }

  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: #404bbf;
  }
}
/* #endregion Footer Section */

/* #region Modal-overlay Section */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 288px;
  min-height: 623px;
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.close-overlay {
  background-color: #e7e9fc;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-overlay-title {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.call-overlay-form {
  display: flex;
  flex-direction: column;
}

.input-form-wraper {
  margin-bottom: 8px;
}

.input-info-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-svg-wraper {
  position: relative;
}

.input-line {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-svg-wraper:focus-within {
  fill: #4d5ae5;
}

.comment-form-wraper {
  margin-bottom: 16px;
}

.comment-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input::placeholder {
  color: rgba(142, 143, 153, 0.5);
}

.input-line:focus-within,
.comment-input:focus-within {
  border-color: #4d5ae5;
}

.agreement-wraper {
  margin-bottom: 24px;
}

.privacy-policy-agreement {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
  padding-left: 24px;
}

.checkbox-privacy {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked + .privacy-policy-agreement > .checkbox-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.policy-link {
  color: #4d5ae5;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .close-overlay:hover,
  .close-overlay:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
  }

  .policy-link:hover,
  .policy-link:hover {
    color: #2e2f42;
  }

  .btn-send:hover,
  .btn-send:focus {
    background-color: #404bbf;
  }
}
/* #endregion Modal-overlay Section */
